.card.card-group {
    -ms-flex: 1 1 auto;
    background-color: rgb(247, 233, 217);
    box-shadow: 0 2px 5px #ccc;
    display: -ms-flexbox;
    display: flex;

}

.card-img-top {
    max-width: 100%;
    height: 50%;
}

.card-title{
font-size: 15px;
margin-bottom: 0.75rem;
text-align: center;
color: dimgrey;
}

.text-group {
    font-size: small;
    color: rgb(6, 120, 155);
}

.text-primary {

        color: rgb(104, 59, 29);
}

.card-img-top {
    width: 100%;
    height: 10rem;
}

.card-header.header-info {
   color: rgb(196, 133, 91);
   background-color: salmon;

}

.box {
    background-color: rgb(196, 133, 91);
    width:auto;
    height: 15rem;


}
.btn-primary {
    background-color: #cecc3d;
    color: #FFFFFF; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover,
    .show > .btn-primary.dropdown-toggle,
    .show > .btn-primary.dropdown-toggle:focus,
    .show > .btn-primary.dropdown-toggle:hover {
      background-color: #f1e3d7 !important;
      color: #cecc3d !important;
      box-shadow: none !important; }
    .btn-primary:not([data-action]):hover {
      box-shadow: none; }
    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary,
    fieldset[disabled] .btn-primary:hover,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary.focus,
    fieldset[disabled] .btn-primary:active,
    fieldset[disabled] .btn-primary.active {
      background-color: #f1e3d7;
      border-color: #cecc3d; }
    .btn-primary.btn-simple {
      color: #cecc3d;
      border-color: #cecc3d; }
      .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active {
        background-color: transparent;
        color: #cecc3d
        border-color: #34b5b8;
        box-shadow: none; }
    .btn-primary.btn-link {
      color: #cecc3d; }
      .btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active, .btn-primary.btn-link:active:focus {
        background-color: transparent;
        color: #cecc3d;
        text-decoration: none;
        box-shadow: none; }